/*NAVIGATION BAR*/
@font-face {
    font-family: "Gagalin";
    src: url('/Fonts/Gagalin-Regular.otf')format('opentype');
}
    nav {
        background: #6B9253; 
        border-radius: 10px;
        padding: 0 3rem;
    }
    .navbar {
        width: 100%;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo a {
        font-size: 40px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-family: Gagalin;
    }
    a:hover {
        color: orange;
    }
    li {
        list-style-type: none;

    }
    .links {
        display: flex;
        gap: 2rem;
    }
    .toggle_btn {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    .toggle_btn:hover {
        color: orange;
    }



            /*DROPDOWN MENU (NAVIGATION BAR)*/
            .dropdown_menu {
                display: none;
                position: absolute;
                right: 2rem;
                top: 70px;
                height: 0;
                width: 200px;
                background: #6B9253;
                backdrop-filter: blur(10px);
                border-radius: 10px;
                overflow: hidden;
                transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            .dropdown_menu li {
                padding: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .dropdown_menu.open {
                height: 170px;
            }


            /*RESPONSIVE TRANSITION (NAVIGATION BAR)*/
            @media (max-width: 740px) {
                .navbar {
                    height: 60px;
                }
                .logo a {
                    font-size: 30px;
                }    
                .links {
                    display: none;
                }
                .toggle_btn {
                    display: block;
                }
                .dropdown_menu {
                    display: block;
                }
            }
            @media (max-width: 450px) {
                .navbar {
                    height: 60px;
                }
                .logo a {
                    font-size: 30px;
                }
                .dropdown_menu {
                    display: block;
                    left: 2rem;
                    width: unset;
                }
            }



/*MAIN CSS*/ /*Note: Whole MAIN is not yet Responsive*/
@font-face {
    font-family: "TAN-ASHFORD";
    src: url('/Fonts/TAN-ASHFORD.otf')format('opentype');
}
@font-face {
    font-family: "Anonymous Pro";
    src: url('/Fonts/AnonymousPro.otf')format('opentype');
}
@font-face {
    font-family: "Canva Sans-Regular";
    src: url('/Fonts/CanvaSans-Regular.otf')format('opentype');
}
@font-face {
    font-family: "Canva Sans-Bold";
    src: url('/Fonts/CanvaSans-Bold.otf')format('opentype');
}
body {
    background-color:rgb(245, 245, 229);
}


    /*First Section*/
    img.first {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 35px;
        margin-bottom: 50px;
        width: 90%;
    }
    h1.Main1st_header {
        font-family: TAN-ASHFORD;
        font-size: 60px;
        position: absolute;
        bottom: 225px;
        left: 100px;
        line-height: 100px;
    }
    p.Main1st_hashtag {
        font-family: Canva Sans-Bold;
        font-size: 15px;
        position: absolute;
        bottom: 210px;
        left: 110px;
    }
    p.Main1st_paragraph {
        font-family: Anonymous Pro;
        font-size: 20px;
        position: absolute;
        bottom: 145px;
        left: 110px;
        line-height: 25px;
    }


    /*Second Section*/
    div.Main2nd {
        height: 384px;
        width: auto;
        background-color: #6B9253;
        border-radius: 10px;
    }
    h3.our_story {
        font-family: Gagalin;
        font-size: 40px;
        color: white;
        text-align: center;
        padding-top: 50px;
    }
    p.our_story2 {
        font-family: Gagalin;
        color: white;
        font-size: 30px;
        text-align: center;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: -17.5px;
    }


    /*3rd Section*/
    h2.faq {
        font-family: TAN-ASHFORD;
        margin: 75px 0 0 100px;
        font-weight: 900;
        font-size: 30px;
    }