/*NAVIGATION BAR*/
@font-face {
    font-family: "Gagalin";
    src: url('/Fonts/Gagalin-Regular.otf')format('opentype');
}
    nav {
        background: #6B9253; 
        border-radius: 10px;
        padding: 0 3rem;
        margin-bottom: 10px;
    }
    .navbar {
        width: 100%;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo a {
        font-size: 40px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-family: Gagalin;
    }
    a:hover {
        color: orange;
    }
    li {
        list-style-type: none;

    }
    .links {
        display: flex;
        gap: 2rem;
    }
    .toggle_btn {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    .toggle_btn:hover {
        color: orange;
    }


            /*DROPDOWN MENU (NAVIGATION BAR)*/
            .dropdown_menu {
                display: none;
                position: absolute;
                z-index: 1;
                right: 2rem;
                top: 70px;
                height: 0;
                width: 200px;
                background: #6B9253;
                backdrop-filter: blur(10px);
                border-radius: 10px;
                overflow: hidden;
                transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            .dropdown_menu li {
                padding: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .dropdown_menu.open {
                height: 170px;
            }


            /*RESPONSIVE TRANSITION (NAVIGATION BAR)*/
            @media (max-width: 740px) {
                .navbar {
                    height: 60px;
                }
                .logo a {
                    font-size: 30px;
                }    
                .links {
                    display: none;
                }
                .toggle_btn {
                    display: block;
                }
                .dropdown_menu {
                    display: block;
                }
            }
            @media (max-width: 450px) {
                .navbar {
                    height: 60px;
                }
                .logo a {
                    font-size: 30px;
                }
                .dropdown_menu {
                    display: block;
                    left: 2rem;
                    width: unset;
                }
            }



/*MAIN CSS*/ /*Note: Whole MAIN is not yet Responsive*/
@font-face {
    font-family: "TAN-ASHFORD";
    src: url('/Fonts/TAN-ASHFORD.otf')format('opentype');
}
@font-face {
    font-family: "Anonymous Pro";
    src: url('/Fonts/AnonymousPro.otf')format('opentype');
}
@font-face {
    font-family: "Canva Sans-Regular";
    src: url('/Fonts/CanvaSans-Regular.otf')format('opentype');
}
@font-face {
    font-family: "Canva Sans-Bold";
    src: url('/Fonts/CanvaSans-Bold.otf')format('opentype');
}

body {
    background-color:rgb(245, 245, 229)
}

    /*First Section*/
    .header {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        height: auto;
        max-height: 700px; /* Can adjust the max-height if needed */
    }

    .slider {
        display: flex;
        z-index: -1;
        transition: transform 0.9s ease-in-out;
    }

    .slide {
        min-width: 100%;
        box-sizing: border-box;
    }

    .static-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
            /*Part of the Static Text*/
            h1.Main1st_header {
                font-family: TAN-ASHFORD;
                font-size: 60px;
            }
            p.Main1st_hashtag {
                font-family: Canva Sans-Bold;
                font-size: 15px;
            }
            p.Main1st_paragraph {
                font-family: Anonymous Pro;
                font-size: 20px;
            }

    img {
        width: 100%;
        height: auto;
        max-height: 100%; /* Make images adaptive in height */
        object-fit: cover;
    }


    /* Second Section */
    div.Main2nd {
        width: auto;
        margin-top: 10px;
        background-color: #6B9253; 
        border-radius: 10px;
        padding: 40px 20px; /* Adjusted padding for better symmetry*/
    }

    h3.our_story {
        font-family: Gagalin;
        font-size: 40px;
        color: white;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 0; /* Remove padding-top */
        margin-bottom: 5px;
    }

    p.our_story2 {
        font-family: Gagalin;
        color: white;
        font-size: 30px;
        text-align: center;
        margin: 10px 30px; /* Adjusted margin for better symmetry */
    }


            /*RESPONSIVE TRANSITION (Second Section)*/
            @media (max-width: 740px) {
                div.Main2nd {
                    padding: 20px 15px;
                }
                h3.our_story {
                    font-size: 30px;
                    padding-bottom: 5px;
                }
                p.our_story2 {
                    font-size: 20px;
                }
            }
            @media (max-width: 450px) {
                div.Main2nd {
                    padding: 15px 10px;
                }
                h3.our_story {
                    font-size: 20px;
                    margin-bottom: 0;
                }
                p.our_story2 {
                    font-size: 10px;
                    margin: 0 0; 
                }
            }

    
    /*3rd Section*/
    h2.faq {
        font-family: TAN-ASHFORD;
        margin: 75px 0 0 100px;
        font-weight: 900;
        font-size: 30px;
    }