body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.menu-item {
    display: flex;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item-details {
    padding: 20px;
}

.item-details h2 {
    color: #333;
    margin-top: 0;
}

.item-details p {
    color: #666;
}

.item-details .price {
    color: #333;
    font-weight: bold;
}
